#drawer-comment.drawer-comment._flex-c-cs
  i.fas.fa-times.drawer-comment__close-icon
  header.drawer-comment__header._flex-cs Responses (
    span.drawer-comment__commentCount #{ getSliceLen .story.CommentIDs }
    | )
  if .userId
    .drawer-comment__add-comment
      .add-comment__header._flex-cs
        ._avatar-frame
          img._avatar-img(src="{{ .currentUser.AvatarURL }}")
        .add-comment__username #{ .currentUser.Username }
      p.add-comment__text(contenteditable="true")
      .add-comment__btns._flex-ce
        button.add-comment__cancel-btn Cancel
        button.add-comment__add-btn Respond
  ul.drawer-comment__comments-container
