article#editor__container.editor__container._flex-c-cs(contenteditable="true")
  section._flex-cc
    i.fas.fa-plus.textBox__icon-in-circle._flex-cc
    .textBox__add-options._flex-cs
      i.fas.fa-camera.textBox__icon-in-circle._flex-cc
      i.fas.fa-grip-lines.textBox__icon-in-circle._flex-cc
    p.textBox.textBox-title example&nbsp
      em italic&nbsp
      | and&nbsp
      strong bold&nbsp
  section._flex-cc
    i.fas.fa-plus.textBox__icon-in-circle._flex-cc
    p.textBox.textBox-content example&nbsp
      em italic
      | " and "
      strong
        em bold
