.header-usermenu._none
  .header-usermenu__arrow
  header._relative._flex-cc
    .usermenu__avatar-frame._avatar-frame
      img.usermenu__avatar-img._avatar-img(src="/image/blank-profile.webp")
    div
      span.usermenu__username._block Jin seok
      span.usermenu__email._block admin@admin.com
  ul
    li
      a._hover-color-black(href="/new-story") Write a story
    li
      a._hover-color-black(href="/me/stories") Stories
    li
      a._hover-color-black(href="/") Settings
  footer
    a.usermenu__signout._hover-color-black(href="/signout") Signout
