form#signup-modal.modal._none
  i.fas.fa-times.modal__close-icon
  h2 Sign up with email
  p.reminder Welcome to Medium rare! This site is built for learning purpose. Every content you make here can be removed anytime. Your password will be encoded properly with argon2. I cannot help you if you forget your password. Your personal information is not going to be shared with anyone or any other sites.
  p.instruction Enter your email address and password to create an account.
  label._flex-c-cs
    span Your email
    input.modal__input(type="email", name="email")
    span.modal__error-message.signup-emailError
  label._flex-c-cs
    span Password
    input.modal__input(type="password", name="password")
    span.modal__error-message.signup-passwordError
  input.modal__submit(type="submit", value="Continue")
