form#signin-modal.modal._none(method="POST", action="/signin")
  i.fas.fa-times.modal__close-icon
  h2 Welcome back
  p Enter your email and password to sign in.
  label._flex-c-cs
    span Your email
    input.modal__input(type="email", name="email")
    span.modal__error-message error
  label._flex-c-cs
    span Password
    input.modal__input(type="password", name="password")
    span.modal__error-message error
  input.modal__submit(type="submit", value="Continue")
