form#signin-modal.modal._none
  i.fas.fa-times.modal__close-icon
  h2 Welcome back
  p Enter your email and password to sign in.
  label._flex-c-cs
    span Your email
    input.modal__input(type="email", name="email")
  label._flex-c-cs
    span Password
    input.modal__input(type="password", name="password")
    span.modal__error-message
  input.modal__submit(type="submit", value="Continue")
