#signin-modal.modal._none
  i.fas.fa-times.modal__close-icon
  h2 Welcome back
  p Enter your email and password to sign in.
  label._flex-c-cs
    span Your email
    input.modal__input(type="text")
    span.modal__error-message error
  label._flex-c-cs
    span Password
    input.modal__input(type="password")
    span.modal__error-message error
  button.modal__continue-btn Continue
