li.storyCard._flex(id="{{ .CreatedAt }}")
    .storyCard__content._flex-c-sb
        a(href="/read-story/{{ .StoryID }}")
          if (eq $.path "/")
            .storyCard__reference NOT BASED ON YOUR READING HISTORY
          h3.storyCard__header {{ .Header }}
          p.storyCard__body #{grindBody .Body 120}
        div
          a(href="/user-home/{{ .AuthorID }}").storyCard__author-name._block {{ .AuthorUsername }} 
          .storyCard__info 
            span #{getStoryDate .CreatedAt}
            ._devider-dot
            span #{.ReadTime}
    a.storyCard__cover-frame(href="/read-story/{{ .StoryID }}")
        img.storyCard__cover-img(
          src="{{ .CoverImgURL }}"
        )