li.userCard__container._flex-cb(id="{{ .ID }}")
    a._flex-cs(href="/user-home/{{ .ID }}")
        ._avatar-frame
            img._avatar-img(src="{{ .AvatarURL }}")
        span.userCard__username #{ .Username }
    if $.followings
        button.userCard__unfollow-btn Unfollow
    if (and $.followersOutput $.userId)
        if .IsMe
        else if .AmIFollowing
            button.userCard__following-btn Following
        else
            button.userCard__follow-btn Follow