.userBio._flex-cb
    ._avatar-frame
        img._avatar-img(src="{{ .targetUser.AvatarURL }}")
    .userBio__userInfo-container
        ._flex-cs
            p.userBio__username(href="/user-home/{{ .targetUser.ID }}") #{ .targetUser.Username }
            if .targetUser.IsEditor
                button.userBio__editorBadge(disabled) Editor
        p.userBio__userBio #{ .targetUser.Bio }
