.main-header {
  position: fixed;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: $headerZIndex;
  .main-header__container {
    width: 100%;
    .main-header__spirit {
      width: 2.5rem;
      height: 2.5rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .main-header__title {
      margin-right: auto;
      h1 {
        font-size: 2rem;
        font-weight: 600;
      }
      h2 {
        margin-left: auto;
        font-size: 1rem;
        font-style: italic;
      }
    }
    .main-header__publish-btn {
      padding: 0.4rem 0.5rem;
      margin-right: 1.5rem;
      color: white;
      border: none;
      background-color: #1a8917;
      &:hover {
        background-color: #0f730c;
      }
    }
    .main-header__bookmark-icon {
      margin-right: 1.5rem;
      color: black;
      opacity: 0.9;
      cursor: pointer;
    }
    a {
      margin-right: 1rem;
    }
    .main-header__signup-btn {
      background-color: black;
      color: white;
    }
  }
}
