header.followers-list-page__header._flex-c-cs
  include views/partials/userBio.pug
  h3 #{getSliceLen .targetUser.FollowerIDs} Followers
ul.followers-list-page__followers-list
  for _,_ in .followersOutput
    include views/partials/userCard.pug
