header#following-list-page__header.following-list-page__header
    h3 You are following #{getSliceLen .currentUser.FollowingIDs} medium-rares.
ul#followings-list.following-list-page__followings-list
    for _,_ in .followings
        include views/partials/userCard.pug