#myStories
    .myStories__title My stories
    .myStories-tab
        .myStories-tab__drafts._flex-cc Drafts
        .myStories-tab__space
        .myStories-tab__published._flex-cc Published
    .myStories__wrapper.myStories-drafts._block
        ul.myStories__container
            for _, _ in (SortByUpdatedAt .storyCards)
                unless .IsPublished
                    include views/partials/draftCard.pug
    .myStories__wrapper.myStories-published._none
        ul.myStories__container
            for _, _ in .storyCards
                if .IsPublished
                    include views/partials/storyCard.pug
