#editor-readOnly__header
.editor-readOnly__authorArea._flex-cs
  .editor-readOnly__authorArea__avatar._relative
    .editor-readOnly__authorArea__avatar-frame._avatar-frame
      img.editor-readOnly__authorArea__avatar-img._avatar-img(
        src="/image/blank-profile.webp"
      )
  .editor-readOnly__authorArea__name {{  .author.Username  }}
  .editor-readOnly__authorArea__postDate #{getStoryDate .story.CreatedAt}
  .editor-readOnly__authorArea__readTime 2 min read
  if .userId
    if isMyStory .author.ID .userId
      a(href="/edit-story/{{ .story.ID }}")
        button.editor-readOnly__authorArea__edit Edit
  else
    button.editor-readOnly__authorArea__follow-btn Follow
    i.far.fa-bookmark.editor-readOnly__authorArea__bookmark-icon
#editor-readOnly__body
#fixed-authorInfo.fixed-authorInfo
  header
    .fixed-authorInfo__writtenBy 
      span WRITTEN BY
    .fixed-authorInfo__authour 
      span Author
    .fixed-authorInfo__bio 
      span I'm Lorem ipsum
    button Follow
  footer
    .fixed-authorInfo__liked-container._flex-cs
      if .didLiked
        i.fas.fa-heart.fixed-authorInfo__liked-icon-true
      else
        i.far.fa-heart.fixed-authorInfo__liked-icon-false
      span #{ getSliceLen .story.LikedUserIDs }
    .fixed-authorInfo__comment-container._flex-cs
      i.far.fa-comment.fixed-authorInfo__comment-icon
      span #{ getSliceLen .story.CommentIDs }
    .fixed-authorInfo__bookmark-container._flex-cs
      i.far.fa-bookmark.fixed-authorInfo__bookmark-icon
include views/partials/drawer.comment.pug
//- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>