section#settings__profile.settings__profile
  h2.settings__heading Profile
  .settings__stack._flex-sb
    .settings__stack-content
      label.settings__stack-label Name
      input.settings__stack-input.settings__usernameInput(type="text", value="{{ .currentUser.Username }}", disabled)
      p.settings__stack-description Your name appears on your Profile page, on your stories as an author name and in your responses. It is a required field.
    .settings__stack-control
      button.settings__gray-btn.settings__editUsername-btn Edit
  .settings__stack._flex-sb
    .settings__stack-content
      label.settings__stack-label Bio
      input.settings__stack-input.settings__bioInput(type="text", value="{{ .currentUser.Bio }}", maxlength="160", disabled)
      p.settings__stack-description Your bio appears on your stories and your profile page. Max 160 characters.
    .settings__stack-control
      button.settings__gray-btn.settings__editBio-btn Edit
  form.settings__stack._flex-sb.settings__stack-avatar-form
    .settings__stack-content
      label.settings__stack-label Photo
      ._flex-sb
        p.settings__stack-description.settings__stack-avatar-description Your name appears on your Profile page, on your stories as an author name and in your responses. It is a required field.
        ._avatar-frame._flex-cc
          img._avatar-img.settings__avatar-img(src="{{ .currentUser.AvatarURL }}")
      input.settings__stack-file-input.settings__avatarInput(name="avatarUrl",type="file", accept="image/png, image/jpg, image/jpeg", multipart=false)
    .settings__stack-control
      button.settings__gray-btn.settings__editAvatar-btn Edit
section#settings__followers.settings__followers
  h2.settings__heading Followers
  .settings__stack._flex-sb
    .settings__stack-content
      label.settings__stack-label My followers
      p.settings__stack-description #{ .followerCount }
    .settings__stack-control
      a(href="/followers/{{ .userId }}")
        button.settings__green-btn See my followers
section#settings__following.settings__following
  h2.settings__heading Following
  .settings__stack._flex-sb
    .settings__stack-content
      label.settings__stack-label I'm following
      p.settings__stack-description #{ .followingCount }
    .settings__stack-control
      a(href="/me/following/")
        button.settings__green-btn See medium-rares I'm following
section#settings__security.settings__security
  h2.settings__heading Security
  .settings__stack._flex-sb
    .settings__stack-content
      label.settings__stack-label Change password
      input.settings__stack-input.settings__passInput(type="password", disabled)
      p.settings__stack-description.settings__passDesc Change your password. 
    .settings__stack-control
      button.settings__gray-btn.settings__editPass-btn Change
  .settings__stack._flex-sb
    .settings__stack-content
      label.settings__stack-label Delete account
      input.settings__stack-input.settings__delAccountPassInput(type="password")
      p.settings__stack-description.settings__delAccountDesc Your account and all related information will be removed.
    .settings__stack-control
      //- button.settings__stack-red-btn Delete
      //- button.settings__stack-gray-btn Cancel
      button.settings__gray-btn.settings__delAccount-btn Delete