header.userHome__header
  include views/partials/userBio.pug
.userHome__details
    if (eq "0" (getSliceLen .targetUser.FollowerIDs))
        a.userHome__followerCount(href="/followers/{{ .targetUser.ID }}") No followers yet
    else if (eq "1" (getSliceLen .targetUser.FollowerIDs))
        a.userHome__followerCount(href="/followers/{{ .targetUser.ID }}") 1 follower
    else
        a.userHome__followerCount(href="/followers/{{ .targetUser.ID }}") #{ getSliceLen .targetUser.FollowerIDs } followers
    ._devider-dot
    if (eq "0" (getSliceLen .targetUser.StoryIDs))
        span.userHome__storiesCount No stories published
    else if (eq "1" (getSliceLen .targetUser.StoryIDs))
        span.userHome__storiesCount 1 story
    else 
        span.userHome__storiesCount #{ getSliceLen .targetUser.StoryIDs } stories
ul.userHome__stories
    for _,_ in .storyCards
        include views/partials/storyCard.pug