body * {
  box-sizing: border-box;
}

#filter {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: black;
}

button {
  all: unset;
  outline: none;
  padding: 0.7rem 0.8rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

input[type="submit"] {
  all: unset;
  outline: none;
  padding: 0.7rem 0.8rem;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

main {
  width: 100%;
}

textarea {
  resize: none;
  outline: none;
}
