._avatar-frame {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  ._avatar-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

._none {
  display: none;
}

._block {
  display: block;
}

._devider-dot {
  width: 2px;
  height: 2px;
  margin: 3px 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: gray;
}

._flex {
  display: flex;
}

._flex-cb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._flex-cs {
  display: flex;
  align-items: center;
}

._flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

._flex-ce {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

._flex-es {
  display: flex;
  align-items: flex-end;
}

._flex-sb {
  display: flex;
  justify-content: space-between;
}

._flex-se {
  display: flex;
  justify-content: flex-end;
}

._flex-c-cb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

._flex-c-cs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._flex-c-es {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

._flex-c-sb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

._flex-c-se {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

._hover-color-black {
  &:hover {
    color: black;
  }
}

._mt-5 {
  margin-top: 5rem;
}

._max-w-78 {
  max-width: 78rem;
}

._relative {
  position: relative;
}
