$authorAreaZIndex: 1;
$headerZIndex: 30;
$filterZIndex: 40;
$commentDrawerZIndex: 50;
$modalZIndex: 90;

$editorMaxWidth: 730px;

$fontBlack9: rgba(0, 0, 0, 0.9);
$fontBlack8: rgba(0, 0, 0, 0.8);
$fontBlack7: rgba(0, 0, 0, 0.7);
$fontBlack6: rgba(0, 0, 0, 0.6);

$green: rgba(26, 137, 23, 1);
$red: rgb(201, 74, 74);
$blue: rgba(75, 132, 243, 1);
