.myBookmarks__title {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: $fontBlack9;
}
.myBookmarks__storyCards-container {
  width: 100%;
  li {
    width: 60%;
  }
}
