.myStories__title {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: $fontBlack9;
}
.myStories__storyCards-wrapper {
  width: 100%;
  .myStories__storyCards-container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    background-color: lightgray;
    li {
      width: 100%;
      margin: 0px;
      padding: 1.5rem 0px;
      background-color: white;
    }
  }
}
