.settings__profile,
.settings__followers,
.settings__following,
.settings__security {
  width: 50%;
  .settings__heading {
    margin: 3rem 0px 2rem 0px;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: $fontBlack9;
    border-bottom: 1px solid lightgray;
  }
}
.settings__stack {
  margin-bottom: 5rem;
  .settings__stack-content {
    width: 70%;
    .settings__stack-label {
      width: 100%;
      display: block;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 1.1rem;
      color: $fontBlack8;
      p {
        font-weight: 500;
      }
    }
    .settings__stack-input {
      width: 100%;
      height: 2rem;
      margin-bottom: 1rem;
      color: $fontBlack8;
      background-color: transparent;
      font-size: 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.03);
    }
    .settings__stack-file-input {
      width: 0px;
      display: none;
    }
    .settings__stack-description {
      width: 100%;
      font-size: 0.9rem;
      line-height: 1.2rem;
      color: $fontBlack8;
    }
    .settings__stack-avatar-description {
      width: 60%;
    }
    ._avatar-frame {
      width: 5rem;
      height: 5rem;
      margin-left: 1rem;
      .settings__uploadAvatar-guide {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        color: white;
        font-size: 0.9rem;
        z-index: $headerZIndex;
      }
    }
  }
  .settings__stack-control {
    white-space: nowrap;
    button {
      margin: 0px 0.5rem;
    }
    .settings__green-btn {
      border-color: $green;
      color: $green;
    }
    .settings__gray-btn {
      border-color: rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0.6);
    }
    .settings__red-btn {
      border: none;
      background-color: $red;
      color: white;
    }
  }
}
