.settings__profile,
.settings__followers,
.settings__following,
.settings__security {
  width: 50%;
  .settings__heading {
    margin: 3rem 0px 2rem 0px;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: $fontBlack9;
    border-bottom: 1px solid lightgray;
  }
}
.settings__stack {
  margin-bottom: 5rem;
  .settings__stack-content {
    width: 100%;
    .settings__stack-label {
      margin-bottom: 1rem;
      display: block;
      font-weight: 700;
      font-size: 1.1rem;
      color: $fontBlack8;
    }
    .settings__stack-input {
      width: 80%;
      height: 2rem;
      margin-bottom: 1rem;
      color: $fontBlack8;
      background-color: transparent;
      font-size: 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.03);
    }
    .settings__stack-file-input {
      width: 0px;
      display: none;
    }
    .settings__stack-description {
      width: 90%;
      font-size: 0.9rem;
      line-height: 1.2rem;
      color: $fontBlack8;
    }
    ._avatar-frame {
      width: 5rem;
      height: 5rem;
      margin-bottom: 1rem;
    }
  }
  .settings__stack-control {
    white-space: nowrap;
    .settings__stack-green-btn {
      border-color: $green;
      color: $green;
    }
    .settings__stack-gray-btn {
      border-color: rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0.6);
    }
    .settings__stack-red-btn {
      border: none;
      background-color: $red;
      color: white;
    }
  }
}
